table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
body{  
border: 2px solid rgb(75, 75, 75); 
box-shadow: 0 0 20px 10px rgba(74, 112, 139, .7); 
width: 1000px; 
margin-top:40px; 
margin-left:auto; 
margin-right: auto; 
padding:25px
}
h1{ 
font-size:2.5em; 
font-family:"Times New Roman", Times, serif; 
text-align:center; 
letter-spacing:2px; 
color:rgb(248, 248, 255); 
text-transform:uppercase; 
background-color:rgb(100, 149, 237); 
padding: 5px 15px 2px 15px; 
margin: 0 -15px 20px -15px; 
} 
figure img { 
border: 1px solid #8B2323; 
padding: 4px; 
box-shadow: 3px 3px 5px rgba(0,0,0,.5); 
} 
figcaption { 
font: italic 1em "Times New Roman", Times, serif;  
text-align: center; 
margin: 10px 0 0 0; 
} 
figure { 
display: inline-block; 
vertical-align: top;  
margin: 0 10px 10px 10px; 
} 
#info{
background-color:#e6bc53;
}
.intro{
	text-align:center; 
	font-size:1.5em; 
	font-family:"Times New Roman", Times, serif;
	letter-spacing:2px;
	color:rgb(100, 149, 237); 
}
a:link {
  color: #497DDD;  
}
a:visited {
  color: #497DDD;
}
a:hover {
  color: #497DDD; 
}
a:active {
  color: #497DDD; 
}
.footer{
	font-size:0.5em; 
font-family:"Times New Roman", Times, serif; 
text-align:center; 
letter-spacing:2px; 
text-transform:uppercase; 
background-color:rgb(231, 250, 145); 
padding: 5px 15px 2px ; 
margin-top: 30px;
	
}
.m-menu {
    margin: 0;
    padding: 15 px;    
    text-align:center;
    border: 3px solid #6495ED;
    background: #6495ED; 
height: 70px;
}
.m-menu form {
float:left;  
}
.m-menu > li {
    position: relative;
    display: inline-block;
 }
.m-menu a {
    display: block;
    margin-left: -7px;
    padding: 24px;
    color: #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}
.m-menu a:hover {
    background: #6495ED;
}
.m-menu .s-menu {
    left: -10px;
    position: absolute;
    display: none;
    width: 155px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #6495ED;
}
.m-menu .s-menu a {
	margin-left: 0px;
    border: 1px solid #000;
}
.m-menu > li:hover .s-menu {
    display: block;
}
header {
 display: block; /* Для старых браузеров */
 height: 405px; /* Высота шапки */
 background: url(Шапка.jpg) repeat-x center bottom;

}
.header-bg img {
    position: relative; /* Относительное позиционирование */
    top: 40px; /* Сдвигаем картинку вниз */
   }
h3{ 
font-size:2em; 
font-family:"Times New Roman", Times, serif; 
text-align:center; 
letter-spacing:2px; 
color: rgb(100, 149, 237); 
text-transform:uppercase; 
padding: 5px 15px 2px 15px; 
margin: 0 -15px 20px -15px; 
}
.gallery {
    margin: 0 0px 0px 25px;
}
